---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Een bijdrage aanmelden</h1>
  <p>Ken je een mooie bron of bijdrage die thuishoort op JuristenBieb? Meld het ons! Denk aan blogs, artikelen, tijdschriften of proefschriften.</p>
</Layout>