---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Zelf een bijdrage schrijven?</h1>
  <p>Heb jij een interessante juridische blog of een inhoudelijke bijdrage geschreven die je met collega-juristen wil delen? Laat het ons weten!</p>
  <p>We bouwen samen aan een rijke juridische kennisbank.</p>
</Layout>