---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Over JuristenBieb</h1>
  <p>JuristenBieb.nl is een verzamelplaats voor juridische blogs, artikelen, proefschriften en andere vakinhoudelijke bijdragen. Speciaal gericht op overheidsjuristen.</p>
</Layout>