---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Stel je vraag</h1>
  <p>Loop je tegen een juridische vraag aan waar je niet uitkomt? Misschien kunnen andere lezers of wij je op weg helpen. Stel je vraag gerust via het contactformulier of mail ons direct.</p>
</Layout>